body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.tile {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 350px;
}

.top-area {
    margin-bottom: 4px;
}

.tile-locked .panel{
    background-color: #ff8080;
}


.tile-locked .text-center {
    margin-top: 145px;
}


/*.buy-btn {*/
    /*margin-top: 0px;*/
    /*margin-bottom: 0px;*/
/*}*/

/*.tile-submit-field {*/
    /*padding-left: 0;*/
    /*padding-right: 0;*/
/*}*/
