.container {
    margin-top: 70px;
}

.mast {
    height: 275px;
    border: 3px;
    border-style: solid;
    border-color: black;
    margin-bottom: 40px;
}

.express {
    height: 212px;
    border-top: 0;
    border-right: 0;
    border-left: 3px;
    border-bottom: 3px;
    border-style: solid;
    border-color: black;
}

.express h1 {
    font-size: 35px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.express ol {
    padding-left: 10px;
    font-size: 11px;
}

.btc-img {
    height: 220px;
    margin-left: 240px;
    margin-top: 25px;
}

.tile {
    height: 165px;
    border: 3px;
    border-style: solid;
    border-color: black;
}

.tile .header {
    background-color: black;
    color: white;
    height: 22px;
    padding-left: 35px;
}

.tile .body {
    font-size: 28px;
    color: #f7931a;
}
